body, html {
	display: block;  /* No floating content on sides */
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #24273a;
	font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 600;
	/* background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%); */
	color: black;
	font-size: 8px;
	line-height: 1.4;
}

a {
	color: inherit;
	text-decoration: none;
}

input[type="range"] {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	width: 100%;
	cursor: pointer;
	outline: none;
	background: #cdd6f4;
}

input[type="range"]::-webkit-slider-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	height: 15px;
	width: 15px;
	background-color: #6c7086;
	border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #89b4fa;
}

#slider-container {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 3rem;
	margin: auto;
	bottom: 10px;
	background: #cdd6f4;
	width: 300px;
	height: 35px;
	position: fixed;
	font-size: 16px;
    display: flex;           /* Enable flexbox */
    justify-content: space-between; /* Align items to the sides */
    align-items: center;     /* Center vertically */
}

#left-arrow, #right-arrow {
    width: 1.3em;  /* Adjust the size as needed */
    height: 1.3em; /* Adjust the size as needed */
	/* padding: 2.3em; */
	flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-arrow {
	padding-left: 2.8em;
	padding-right: 0.5em;
}

#right-arrow {
	padding-right: 2.8em;
	padding-left: 0.5em;
}

#left-arrow svg, #right-arrow svg {
	fill: #585b70;
	stroke-width: 50;
}

#left-arrow svg:hover, #right-arrow svg:hover {
	fill: #89b4fa;
	cursor: grab;
	stroke-width: 50;
}

#left-arrow img, #right-arrow img {
    width: 100%;
    height: auto;
}

#left-double-arrow, #right-double-arrow {
    width: 1.3em;  /* Adjust the size as needed */
    height: 1.3em; /* Adjust the size as needed */
	/* padding: 2.3em; */
	flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-double-arrow svg, #right-double-arrow svg {
	fill: #585b70;
	stroke-width: 50;
}

#left-double-arrow svg:hover, #right-double-arrow svg:hover {
	fill: #89b4fa;
	cursor: grab;
	stroke-width: 50;
}

#left-double-arrow img, #right-double-arrow img {
    width: 100%;
    height: auto;
}

#time-slider {
	/* margin: auto; */
	position: fixed;
	width: 150px;
	left: 50%;
	transform: translate(-50%, 0);
}

.centered {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
}

.modal-window {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	position: fixed;
	bottom: 10px; /* Adjust padding from bottom */
	right: 10px; /* Adjust padding from right */
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
	padding: 1em;
	background: #cdd6f4;
	border-radius: 1rem;
	box-sizing: border-box; /* Include padding in the width and height */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Transition for max-height and opacity */
}

.modal-window h1 {
	font-weight: 900;
}

.modal-close {
	color: #aaa;
	line-height: 40px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;

	&:hover {
		color: black;
	}
}

/* Additional style for the modal title to create a highlight effect */
.modal-title-highlighted {
	position: relative;
	line-height: 1.4; /* Adjust line-height to control the height of the highlight */
	display: inline; /* Makes the background only as wide as the text */
	padding: 0 5px; /* Add some padding to extend the background slightly */
}

/* Style for a pseudo-element to fine-tune the highlight effect */
.modal-title-highlighted::before {
	content: '';
	position: absolute;
	top: 70%; /* Position the pseudo-element vertically in the middle */
	left: 0;
	right: 0;
	height: 12px; /* Height of the highlight streak */
	background-color: rgba(125, 196, 228, 0.8); /* Same yellow color */
	z-index: -1; /* Place it under the text */
	transform: translateY(-50%); /* Center it perfectly in the middle of the line */
}

.modal-state-highlighted {
	position: relative;
	/* background-color: rgba(125, 196, 228, 0.5); /* Yellow color with opacity */
	line-height: 1.4; /* Adjust line-height to control the height of the highlight */
	display: inline; /* Makes the background only as wide as the text */
	padding: 0 5px; /* Add some padding to extend the background slightly */
}

/* Style for a pseudo-element to fine-tune the highlight effect */
.modal-state-highlighted::before {
	content: '';
	position: absolute;
	top: 70%; /* Position the pseudo-element vertically in the middle */
	left: 0;
	right: 0;
	height: 7px; /* Height of the highlight streak */
	background-color: rgba(238, 153, 160, 0.8); /* Same yellow color */
	z-index: -1; /* Place it under the text */
	transform: translateY(-50%); /* Center it perfectly in the middle of the line */
}

.modal-id-highlighted {
	position: relative;
	line-height: 1.4; /* Adjust line-height to control the height of the highlight */
	display: inline; /* Makes the background only as wide as the text */
	padding: 0 5px; /* Add some padding to extend the background slightly */
}

/* Style for a pseudo-element to fine-tune the highlight effect */
.modal-id-highlighted::before {
	content: '';
	position: absolute;
	top: 70%; /* Position the pseudo-element vertically in the middle */
	left: 0;
	right: 0;
	height: 7px; /* Height of the highlight streak */
	background-color: rgba(238, 212, 159, 0.8); /* Same yellow color */
	z-index: -1; /* Place it under the text */
	transform: translateY(-50%); /* Center it perfectly in the middle of the line */
}

#chart svg {
	height: 100%;
	width: 100%;
}

/* --- Syntax Highlighting for JSON within modals --- */

code[class*="language-"],
pre[class*="language-"] {
	color: #a9b7c6;
  font-family: 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #808080;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #cc7832;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #a9b7c6;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #e8bf6a;
}

.token.entity,
.token.number,
.token.symbol {
	color: #6897bb;
}

.token.property,
.token.constant,
.token.variable {
	color: #9876aa;
}

.token.string,
.token.char {
	color: #dc8a78;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #a5c261;
}

.token.attr-value .punctuation:first-child {
	color: #a9b7c6;
}

.token.url {
	color: #287bde;
	text-decoration: underline;
}

.token.function {
	color: #ffc66d;
}

.token.regex {
	background: #364135;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #294436;
}

.token.deleted {
	background: #484a4a;
}

code.language-css .token.property,
code.language-css .token.property + .token.punctuation {
	color: #7287fd;
}

code.language-css .token.id {
	color: #ffc66d;
}

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
	color: #ffc66d;
}
